a {
  color: white;
  text-decoration: none;
}

.header_container{
  display: none;
}
.header_container a{
  display: none;
}
.header_container .account{
  display: block;
   margin-right: 30px;
}
.header_container {
    display: flex;
  height: 10vh;
   justify-content: space-between;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100vw;
}
.header_left ul {
  list-style-type: none;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  margin-left: 35px;
}

.header_right ul {
  list-style-type: none;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: end;
  color: black;
  /* margin-right: 35px; */
  width: 60vw;
}
.logo_img{
    height: 10vh;
} 

@media (min-width:735px) {

.header_container {
    display: flex;
  width: 100vw;
   /* margin-right: 30px; */

}
.header_container a{
  display: block;
 
}
.header_left ul {
   min-width: 625px;
  /* width: 140%; */
   /* background-color: rgb(20, 20, 20); */
}
.header_right ul {
  max-width: 20vw;
  display: flex;
  justify-content: space-around;

}

}




