a {
  color: white;
  text-decoration: none;
}
.header_container {
    display: flex;
    justify-content: space-between;
  height: 10vh;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
  top: 0;
  width: 100vw;
  position: fixed;
  /* background-color: transparent; */
}

.header_left ul {
  list-style-type: none;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  min-width: 625px;
  /* width: 140%; */
   /* background-color: rgb(20, 20, 20); */
   
}

.header_right ul {
  list-style-type: none;
  display: flex;
  height: 10vh;
  align-items: center;
  width: 15vw;
  justify-content: space-around;
  color: black;
  padding-right: 2vw;

  
}
.logo_img{
    height: 10vh;
} 