* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111;
  font-family: "Bebas Neue", serif;
  font-weight: 200;
  font-style: normal;
}

:root {
  --main-color: #333;
  /* --font-base: "Lexend", sans-serif;
  --font-second-base: "Inter", sans-serif; */
  --bg-color: #111;
  --primary-color: #ffffff;
  --second-color: #e50914;
}
