* {
  margin: 0;
  padding: 0;
}

body {
    font-weight: 500;
    background-color: #141414;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
}

:root {
  --main-color: #333;
  /* --font-base: "Lexend", sans-serif;
  --font-second-base: "Inter", sans-serif; */
  --bg-color: #111;
  --primary-color: #ffffff;
  --second-color: #e50914;
}
